<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <p class="title">Correct translation</p>
    <p><label for="word">Word:</label><input name="word" type="text" id="word" class="editInp"></p>
    <p><label for="def">Defenition  :</label><input type="text" class="editInp" id="def" name="def"></p>
    <button class="saveBtn" id="saveBtn">Save</button>
    <footer>
        <a href="setting.html" class="settingBtn" target="_blank">Setting</a>
    </footer>
    <script src="../scripts/popup.js"></script>
</body>
</html>